{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/client/cart.css') }}">
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/cart/display-cart.js') }}" type="module"></script>
	<script src="{{ asset('js/cart/ajax-cart-form.js') }}" type="module"></script>
{% endblock %}

{% block body %}
	<section id="banner">
		<h1>
			<span class="rougeScript tc-white">Panier</span>
			<span class="amatic tc-white uppercase">Voici votre panier et son contenu</span>
		</h1>
	</section>

	<section id="cart">
		<div class="container">
			<h2 class="amatic tc-blue">Qu'avez-vous dans votre panier ?</h2>

			<div class="dflex bloc-cart">
				<div class="cart">
					<div class="titles">
						<h3 class="element name">Nom du produit</h3>
						<h3 class="element unitPrice">Prix unitaire</h3>
						<h3 class="element quantity">Quantité</h3>
						<h3 class="element totalPrice">Prix total</h3>
					</div>

					<div id="cart-table" class="tables">
						{# Populated by display-cart.js #}
					</div>
				</div>

				<div class="confirm">
					<div class="line">
						<h3><i class="fas fa-shipping-fast"></i> Frais de port</h3>
						<p>7,40 €</p>
					</div>

					<div class="line">
						<label for="discountTicket"><i class="fas fa-percentage"></i> Vous avez un bon de réduction ?</label>
						<input type="text" name="discountTicket" id="discountTicket" placeholder="Entrez votre bon" required="false">
					</div>


					<div class="total">
						<h3><i class="fas fa-euro-sign"></i> Total de la commande</h3>
						<p id="cart-total-price" class="ttc"></p>
						{# <p class="ht">220 € HT</p> #}
					</div>

					<a href="" class="btn">
						<i class="fas fa-shopping-cart"></i> Confirmer
					</a>
					<button class="btn save" id="save-btn">
						<i class="fas fa-check"></i> Sauvegarder le panier
					</button>
				</div>
			</div>


		</div>
	</section>
{% endblock %}
