@import "../include/variables.less";
@import "../include/mixins.less";

.table {
	.title {
		width: 25%;
	}

	.percent {
		width: 15%;
	}

	.products {
		width: 35%;
	}

	.search,
	.btns {
		width: 25%;
	}

	.btns {
		margin: 0;

	}

	.delete {
		position: relative;
	}

}