@import "../include/variables.less";
@import "../include/mixins.less";
@import "../include/favourites.less";

/* ---------------- INDICATION UX ---------------- */
/* ----------------------------------------------- */

.menu {
	.accueil {
		&::after {
			content: "";
			display: block;
			width: 3rem;
			height: 0.2rem;
			background-color: @bg-dark-blue-connectinha;
			position: absolute;
			bottom: 0;
			left: calc(50% - 1.5rem);
		}
	}
}

#home {
	height: 110vh;
	background: url('../../images/index/bandeau-accueil-elodie-ortiz-montagnes-forets-bleu-violet.jpg') no-repeat center center;
	background-size: cover;
	.dflex();
	align-items: center;
	justify-content: center;
	color: @tc-white;

	span {
		display: block;
	}

	.rougeScript {
		font-size: 15rem;
	}

	.amatic {
		font-size: 10rem;
		margin-top: -3rem;
		margin-bottom: 2rem;
	}

	.content {
		margin-top: -18rem;
	}

	.btns {
		justify-content: center;
	}
}

#presentation {
	position: relative;
	margin-top: 8rem;
	.dflex();
	justify-content: space-between;
	align-items: center;

	.bloc-background {
		height: 80rem;
		background-color: orange;
		width: 25%;
		position: relative;
		background: url('../../images/index/presentation-fond-nature-nuit-etoilee-elodie-ortiz-connectinha.jpg');
		background-size: cover;

		.picture {
			width: 50rem;
			height: 65rem;
			border: 1.5rem solid #fff;
			position: absolute;
			top: 7rem;
			right: -20rem;
			background-color: orange;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	.bloc-text {
		width: 65%;
		padding: 0 18rem;
		text-align: center;

		h2 {
			font-size: 8rem;
			margin-bottom: 5rem;
		}

		h3 {
			font-size: 4rem;
			margin: 6rem 0 4rem 0;
		}

		.btn {
			margin: 4rem auto;
		}

		.quote {
			color: @tc-blue-connectinha;
			margin-top: 1rem;
			font-size: 2rem;
		}
	}
}


#services {
	margin: 8rem 0 0 0;
	.dflex();
	align-items: center;
	padding-bottom: 0;

	.bloc {
		width: 33.3333%;
		height: 35rem;
		.dflex();
		align-items: center;
		justify-content: center;

		img {
			width: 100%;
			height: 80%;
			object-fit: contain;
		}

		h2 {
			font-size: 6rem;
			font-family: "Playfair Display", serif;
			font-weight: 700;
			color: @bg-blue-connectinha;
			text-transform: capitalize;
			text-align: center;
			line-height: 1;
		}

		&.magnetisme {
			background: url('../../images/index/le-magnetisme-elodie-ortiz.jpg') no-repeat center center;
			background-size: cover;
		}

		&.cartomancie {
			background: url('../../images/index/la-cartomancie-elodie-ortiz.jpg') no-repeat center center;
			background-size: cover;
		}

		&.mediumnite {
			background: url('../../images/index/la-mediumnite-elodie-ortiz.jpg') no-repeat center center;
			background-size: cover;
		}
	}
}

#charter {
	padding: 10rem 0;
	background: url('../../images/index/background-connectinha-bleu-et-violet.jpg') no-repeat center center;
	background-size: cover;
	margin-bottom: 3rem;

	h2 {
		font-size: 8rem;
		text-align: center;
	}

	p {
		text-align: center;
		color: @tc-white;
	}

	.bloc-btn {
		.btn {
			margin: 2rem auto;
		}
	}
}

#question {
	padding: 5rem 0;
	position: relative;
	margin-bottom: 10rem;

	&::after,
	&::before {
		content: "";
		display: inline-block;
		height: 50rem;
		position: absolute;
		z-index: -1;
		top: 0rem;
	}


	&::after {
		content: "";
		display: block;
		width: 30rem;
		height: 50rem;
		background: url('../../images/illustrations/une-question-illustration-herbe-gauche.png') no-repeat;
		background-size: contain;
		position: absolute;
	}

	&::before {
		content: "";
		display: inline-block;
		width: 30rem;
		height: 50rem;
		background: url('../../images/illustrations/une-question-illustration-herbe-droite.png') no-repeat;
		background-size: contain;
		position: absolute;
		right: 0;
	}

	h2 {
		font-size: 6rem;
		margin-bottom: 5rem;
	}

	.content {
		width: 60%;
		margin: auto;
		text-align: center;

		.btns {
			justify-content: center;
			margin-top: 5rem;
		}
	}

}
