/* -------- TEXT COLORS ------- */
@tc-grey: #333;
@tc-white: #fff;
@tc-lightgrey: rgb(231, 233, 235);
@tc-green: #068639;
@tc-blue: #41687f;
@tc-darkblue: #042b40;
@tc-red: rgb(207, 11, 11);
@tc-purple: #82629a;
@tc-actif: #fff;
@tc-inactif: #fff;

/* -------- ALERT COLORS ------- */
@alert-success: rgb(139, 187, 84);
@alert-error: rgb(156, 48, 48);

/* -------- BACKGROUND COLORS ------- */
@bg-white: #fff;
@bg-orange: rgb(233, 154, 64);
@bg-lightgrey: rgb(231, 233, 235);
@bg-mediumgrey: rgb(188, 192, 196);
@bg-blue: #41687f;
@bg-darkblue: #042b40;
@bg-red: rgb(207, 11, 11);
@bg-purple: #82629a;
@bg-action: rgb(25, 160, 126);
@bg-grey: #333;
@bg-actif: #2b733c;
@bg-inactif: #c04f25;
@bg-add: #116744;

/* ----------- BACKGROUND COLORS MAQUETTE ----------- */

@bg-lightgrey-connectinha: #f7f7f7;
@bg-light-blue-connectinha: #6ba7bb;
@bg-blue-connectinha: #41687f;
@bg-medium-blue-connectinha: #396288;
@bg-dark-blue-connectinha: #042b40;
@bg-light-purple-connectinha: #82629a;
@bg-dark-purple-connectinha: #52235b;



/* ----------- TEXT COLORS MAQUETTE ----------- */

@tc-lightgrey-connectinha: #f3f3f3;
@tc-blue-connectinha: #4498b4;
@tc-light-purple-connectinha: #af5ce2;
@tc-dark-purple-connectinha: #654774;
@tc-dark-blue-connectinha: #042b40;
@tc-darkgrey-connectinha: #333;