* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}
/* -------- TEXT COLORS ------- */
/* -------- ALERT COLORS ------- */
/* -------- BACKGROUND COLORS ------- */
/* ----------- BACKGROUND COLORS MAQUETTE ----------- */
/* ----------- TEXT COLORS MAQUETTE ----------- */
.success-gradient {
  background: #d4e9d5;
  background: linear-gradient(90deg, #d4e9d5 0%, #eefbf1 100%);
}
.gradient-blue-violet {
  background: #042b40;
  background: linear-gradient(90deg, #52235b 0%, #042b40 100%);
}
.hover-gradient-blue-violet {
  background: ligthen(#042b40, 10%);
  background: linear-gradient(90deg, #733180 0%, #074b70 100%);
}
.dflex {
  display: flex;
  flex-wrap: wrap;
}
.full-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.delete-overlay {
  background-color: rgba(180, 60, 60, 0.74);
}
.delete-overlay i {
  color: #fff;
  font-size: 3rem;
}
/* ------------------- PRODUITS ADMIN ---------------- */
/* --------------------------------------------------- */
.mixin-categorie {
  margin-right: 2.2rem;
  color: #042b40;
  font-weight: bold;
  font-size: 1.4rem;
  width: 15%;
  display: block;
}
.mixin-titre {
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1ch;
  margin-right: 2rem;
  width: 50%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.mixin-prix {
  display: block;
  font-size: 2.2rem;
  width: 20%;
}
@media screen and (min-width: 1920px) {
  .col-xl-1 {
    width: 8%;
  }
  .col-xl-2 {
    width: 16%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33%;
  }
  .col-xl-5 {
    width: 41%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58%;
  }
  .col-xl-8 {
    width: 66%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83%;
  }
  .col-xl-11 {
    width: 91%;
  }
  .col-xl-12 {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1920px) {
  .col-lg-1 {
    width: 8%;
  }
  .col-lg-2 {
    width: 16%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33%;
  }
  .col-lg-5 {
    width: 41%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58%;
  }
  .col-lg-8 {
    width: 66%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83%;
  }
  .col-lg-11 {
    width: 91%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
@media screen and (min-width: 991px) and (max-width: 1200px) {
  .col-md-1 {
    width: 8%;
  }
  .col-md-2 {
    width: 16%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33%;
  }
  .col-md-5 {
    width: 41%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58%;
  }
  .col-md-8 {
    width: 66%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83%;
  }
  .col-md-11 {
    width: 91%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .col-ms-1 {
    width: 8%;
  }
  .col-ms-2 {
    width: 16%;
  }
  .col-ms-3 {
    width: 25%;
  }
  .col-ms-4 {
    width: 33%;
  }
  .col-ms-5 {
    width: 41%;
  }
  .col-ms-6 {
    width: 50%;
  }
  .col-ms-7 {
    width: 58%;
  }
  .col-ms-8 {
    width: 66%;
  }
  .col-ms-9 {
    width: 75%;
  }
  .col-ms-10 {
    width: 83%;
  }
  .col-ms-11 {
    width: 91%;
  }
  .col-ms-12 {
    width: 100%;
  }
}
@media screen and (min-width: 520px) and (max-width: 768px) {
  .col-sl-1 {
    width: 8%;
  }
  .col-sl-2 {
    width: 16%;
  }
  .col-sl-3 {
    width: 25%;
  }
  .col-sl-4 {
    width: 33%;
  }
  .col-sl-5 {
    width: 41%;
  }
  .col-sl-6 {
    width: 50%;
  }
  .col-sl-7 {
    width: 58%;
  }
  .col-sl-8 {
    width: 66%;
  }
  .col-sl-9 {
    width: 75%;
  }
  .col-sl-10 {
    width: 83%;
  }
  .col-sl-11 {
    width: 91%;
  }
  .col-sl-12 {
    width: 100%;
  }
}
@media screen and (max-width: 520px) {
  .col-xs-1 {
    width: 8%;
  }
  .col-xs-2 {
    width: 16%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33%;
  }
  .col-xs-5 {
    width: 41%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58%;
  }
  .col-xs-8 {
    width: 66%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-10 {
    width: 83%;
  }
  .col-xs-11 {
    width: 91%;
  }
  .col-xs-12 {
    width: 100%;
  }
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.4rem;
  color: #333;
  position: relative;
  min-height: 100vh;
  padding-bottom: 35rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.container {
  width: 90%;
  margin: auto;
}
h1 {
  font-size: 3rem;
  margin-bottom: 40px;
  text-align: center;
}
section {
  padding: 30px 0;
}
.btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: initial;
  width: 100%;
}
.btns .btn {
  display: inline-block;
  padding: 1.2rem 5rem;
  transition: 0.3s background-color;
  border: none;
  margin: 1rem 0;
  font-size: 1.8rem;
}
.btns .btn:hover {
  box-shadow: 0px 5px 5px rgba(23, 23, 23, 0.5);
  transition: 0.3s box-shadow;
  cursor: pointer;
}
.btns .btn.round {
  border-radius: 5rem;
  min-width: 40rem;
  text-align: center;
}
input,
select {
  width: 100%;
  padding: 0.8rem 1.6rem;
}
label {
  text-align: left;
}
a,
button {
  font-family: "Playfair Display", serif;
}
a i,
button i {
  margin-right: 1rem;
}
.uppercase {
  text-transform: uppercase;
}
button {
  background: #042b40;
  background: linear-gradient(90deg, #52235b 0%, #042b40 100%);
  border: none;
  font-size: 1.8rem;
}
button i {
  color: #fff;
}
button:hover {
  cursor: pointer;
  background: ligthen(#042b40, 10%);
  background: linear-gradient(90deg, #733180 0%, #074b70 100%);
}
p {
  line-height: 1.5;
  font-size: 2rem;
}
.tc-white {
  color: #fff;
}
.tc-purple {
  color: #af5ce2;
}
.tc-blue {
  color: #4498b4;
}
.tc-grey {
  color: #333;
}
.bg-white {
  background-color: #fff;
}
.bg-blue {
  background-color: #41687f;
}
.bg-grey {
  background-color: #f7f7f7;
}
.italic {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
}
.semibold {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.amatic {
  font-family: "Amatic SC", cursive;
}
.playfair {
  font-family: "Playfair Display", serif;
}
.rougeScript {
  font-family: "Rouge Script", cursive;
}
#pagination nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#pagination nav ul li a {
  padding: 5px 8px;
}
#pagination nav ul li a.active {
  background-color: #41687f;
  color: #fff;
}
#pagination nav ul li a.active:hover {
  background-color: #304c5d;
  transition: 0.3s background-color;
}
header {
  padding-top: 1.3rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
header::after {
  content: "";
  width: 100%;
  height: 12rem;
  display: block;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  background: #ffffff;
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 78%);
}
header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  position: relative;
  margin: auto;
}
header nav .logo {
  width: 30rem;
  height: 11rem;
}
header nav .logo img {
  width: 100%;
  height: 10rem;
  object-fit: contain;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  align-items: center;
}
header nav .menu li {
  position: relative;
}
header nav .menu li a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 7rem;
  padding: 0 2.5rem;
  color: #654774;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 0.1ch;
}
header nav .menu li a i {
  margin-right: 0.6rem;
}
header nav .menu li::after {
  content: "\f186";
  font-weight: bold;
  font-family: "Font Awesome 5 Free";
  display: block;
  font-size: 1.2rem;
  width: 3rem;
  height: 0.2rem;
  color: transparent;
  position: absolute;
  bottom: 0;
  left: calc(50% - 1.5rem);
}
header nav .menu li:hover::after {
  color: #042b40;
}
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: url('../../images/fond-footer-cascade-bleu-violet.jpg') no-repeat center center;
  background-size: cover;
  color: #fff;
}
footer .footer-top {
  padding: 7rem 5rem;
  font-size: 1.6rem;
}
footer .footer-top nav {
  display: flex;
  flex-wrap: wrap;
}
footer .footer-top nav .logo {
  width: 25rem;
  margin-right: 8rem;
  font-size: 4rem;
  text-align: center;
  line-height: 0.8;
  position: relative;
}
footer .footer-top nav .logo::after {
  content: "";
  display: block;
  width: 0.3rem;
  height: 15rem;
  background-color: #fff;
  right: -6rem;
  top: -2rem;
  position: absolute;
}
footer .footer-top nav .logo span {
  display: block;
}
footer .footer-top nav .logo .rougeScript {
  font-size: 6.5rem;
}
footer .footer-top nav ul {
  margin: 0 5rem;
}
footer .footer-top nav ul h3 {
  margin-bottom: 2rem;
  font-size: 2.3rem;
}
footer .footer-top nav ul li {
  margin-bottom: 1.5rem;
}
footer .footer-top nav ul li a {
  color: #fff;
}
footer .footer-top nav ul li a:hover {
  color: #41687f;
}
footer .footer-top nav ul li a i:hover {
  color: #fff;
}
footer .footer-top nav .menu i {
  margin-right: 1.2rem;
}
footer .footer-top nav .reseaux {
  display: flex;
  flex-wrap: wrap;
}
footer .footer-top nav .reseaux h3 {
  width: 100%;
}
footer .footer-top nav .reseaux li a {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 0.8rem;
}
footer .footer-top nav .reseaux li a i {
  color: #fff;
  font-size: 3rem;
}
footer .footer-top nav .reseaux li a:hover {
  transition: 0.3s background-color;
  color: #fff;
}
footer .footer-bottom {
  background: #042b40;
  background: linear-gradient(90deg, #52235b 0%, #042b40 100%);
  color: #fff;
}
footer .footer-bottom nav {
  width: 100%;
}
footer .footer-bottom nav ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1.2rem 0;
}
footer .footer-bottom nav ul li span {
  margin: 0 0.8rem;
}
footer .footer-bottom nav ul li a {
  color: #fff;
  margin: 0 1rem;
}
