{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block description %}

{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/client/index.css') }}">
{% endblock %}

{% block body %}
	<section>
		<h1>Test Site Elodie</h1>
	</section>
{% endblock %}
