{% extends 'base_admin.html.twig' %}

{% block title %}Commandes{% endblock %}

{% block body %}
	<h2 class="a-center">Ici vous retrouvez les commandes passées</h2>

	<div class="products">

	</div>

	<div class="users">

	</div>
{% endblock %}
