{% extends 'base_admin.html.twig' %}

{% block title %}Contenu du site{% endblock %}

{% block body %}
	<h2 class="a-center">Ici vous pouvez gérer les contenus de votre site</h2>

	<div class="products">
		<h3>La page boutique</h3>
	</div>

	<div class="users">

	</div>
{% endblock %}
