{% extends 'base_admin.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
	<h1 class="a-center">Bienvenue dans votre espace</h1>

	<div class="products">

	</div>

	<div class="users">

	</div>
{% endblock %}
