{% extends 'base_admin.html.twig' %}

{% block title %}Newsletter{% endblock %}

{% block body %}
	<h2 class="a-center">Ici vous pouvez gérer les newsletters</h2>

	<div class="products">

	</div>

	<div class="users">

	</div>
{% endblock %}
