{% extends 'base.html.twig' %}

{% block title %}Erreur de paiement - Réservation de votre rendez-vous{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/client/order.css') }}">
{% endblock %}

{% block body %}
	<section id="banner">
		<h1>
			<span class="rougeScript tc-white">Oups</span>
			<span class="amatic tc-white uppercase">Votre rendez-vous n'a malheureusement pas été réservé !</span>
		</h1>
	</section>

	<section id="payment">
		<div class="container">
			<h2 class="amatic tc-blue">Une erreur est survenue !</h2>
			<p>
				Votre rendez-vous n'a malheureusement pas été enregistré, comment puis-je vous aider ?
			</p>
			<div class="btns">
				<a href="{{ path('contact') }}" class="btn round bg-blue tc-white">
					<i class="fas fa-paper-plane"></i>
					Contactez-moi si vous rencontrez des difficultés à passer commande
				</a>
			</div>
		</div>
	</section>
{% endblock %}
