{% extends 'base.html.twig' %}

{% block title %}La charte de l'éthique du magnétiseur énergéticien{% endblock %}

{% block description %}
    La charte de l'éthique du magnétiseur énergéticien défini le cadre dans lequel le magnétiseur exerce sa pratique. Votre magnétiseuse énergéticienne Elodie Ortiz respecte cette charte.
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/client/charte.css') }}">
{% endblock %}

{% block body %}
    <section id="banner">
        <h1>
            <span class="rougeScript tc-white">Charte</span>
            <span class="amatic tc-white uppercase">La charte de l'éthique du magnétiseur énergéticien</span>
        </h1>
    </section>

    <section id="charter">
        <div class="content">
            <p class="amatic">
                En apposant sa signature sur cette dite charte de l'éthique du magnétiseur énergéticien, le praticien s'engage sur l'honneur à accepter et à respecter tout au long de sa pratique les principes suivants :
            </p>
            <ol>
                <li>
                    À ne pas formuler ou suggérer de diagnostic
                </li>
                <li>
                    À ne jamais faire suspendre un traitement médical en cours sans l'accord du médecin traitant et à ne pas s'opposer à une intervention chirurgicale
                </li>
                <li>
                    À ne jamais suggérer à son patient d'interrompre le suivi médical, les examens ou les investigations nécessaires
                    à déterminer ou préciser la / les cause(s) de sa maladie.
                </li>
                <li>
                    À ne pas divulguer les résultats de son intervention sans l'assentiment de son patient.
                </li>
                <li>
                    D'être tenu de respecter le secret professionnel et d'observer la plus grande discrétion en toutes circonstances.
                </li>
                <li>
                    À prêter son assistance et sa compétence - bénévolement si nécessaire - aux indigents, aux porteurs de handicaps
                    et aux malades en phase terminale, à la demande.
                </li>
                <li>
                    À ne pas recevoir en consultation et ne pas traiter les mineurs ou les déficients mentaux hors de la présence de leurs parents ou de leur tuteur légal.
                </li>
                <li>
                    À n'intervenir qu'avec le consentement libre et éclairé des personnes concernées.
                </li>
                <li>
                    À ne jamais porter de jugement mais à garder toujours l'esprit ouvert en restant dans une écoute bienveillante.
                </li>
                <li>
                    À toujours faire preuve de discernement.
                </li>
                <li>
                    Dans ses relations avec son patient, à rester sobre, honnête et de bonne foi.
                </li>
                <li>
                    D'éviter dans son discours les allégations trompeuses, ni de promettre une guérison.
                </li>
                <li>
                    De ne pas bercer le consultant d'illusions trompeuses, ni de promettre une guérison.
                </li>
                <li>
                    De ne pas se livrer à la prévarication.
                </li>
                <li>
                    À respecter l'intégrité mentale et physique du consultant.
                </li>
                <li>
                    Promettre de faire de son mieux et de reconnaître avec humilité les limites de son travail.
                </li>
                <li>
                    Dans l'exercice de sa profession, de ne pas surestimer ni ses compétences, ni ses possibilités.
                    Cette attitude garantira à son patient l'innocuité de son action,
                    celle-ci demeurant strictement complémentaire à l'acte médical.
                </li>
                <li>
                    À prendre conscience de sa responsabilité professionnelle, de ses différentes missions et fonctions :
                    il est de sa responsabilité de les distinguer et de les faire distinguer.
                </li>
                <li>
                    De faire preuve d'intégrité et de probité. Le praticien a pour obligation de ne pas exploiter
                    une relation professionnelle à des fins personnelles, religieuses, sectaires, politiques, ou en vue de tout autre intérêt idéologique.
                </li>
                <li>
                    Se mettre en conformité avec les obligations administratives du/des Etat(s)
                    dans lequel / lesquels il exerce son activité et de s'astreindre à respecter les normes ou les statuts en vigueur.
                </li>
                <li>
                    Préserver, discipliner et coordonner ses dons naturels, ses qualités intellectuelles et morales.
                </li>
                <li>
                    De s'engager sur l'honneur et sous serment à respecter la charte d'éthique réalisée par Betty KHAN
                    dans le cadre de son initiation à la pratique du magnétisme et des soins énergétiques.
                </li>
                <li>
                    À ne jamais vouloir nuire <strong>"Primum, non nocere"</strong> (d'abord ne pas nuire) telle doit être la devise du guérisseur-magnétiseur-énergéticien.
                </li>
            </ol>
        </div>
    </section>
{% endblock %}
