@import "../include/reset.less";
@import "../include/variables.less";
@import "../include/mixins.less";
@import "../include/colonnes.less";

html {
	font-size: 62.5%;
}

body {
	font-size: 1.4rem;
	color: @tc-darkgrey-connectinha;
	position: relative;
	min-height: 100vh;
	padding-bottom: 35rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

.container {
	width: 90%;
	margin: auto;
}

h1 {
	font-size: 3rem;
	margin-bottom: 40px;
	text-align: center;
}

section {
	padding: 30px 0;
}

.btns {
	.dflex();
	justify-content: initial;
	width: 100%;

	.btn {
		display: inline-block;
		padding: 1.2rem 5rem;
		transition: 0.3s background-color;
		border: none;
		margin: 1rem 0;
		font-size: 1.8rem;

		&:hover {
			box-shadow: 0px 5px 5px rgba(23,23,23,0.5);
			transition: 0.3s box-shadow;
			cursor: pointer;
		}

		&.round {
			border-radius: 5rem;
			min-width: 40rem;
			text-align: center;
		}
	}
}

input,
select {
	width: 100%;
	padding: 0.8rem 1.6rem;
}

label {
	text-align: left;
}

a, button {
	font-family: "Playfair Display", serif;

	i {
		margin-right: 1rem;
	}
}

.uppercase {
	text-transform: uppercase;
}

button {
	.gradient-blue-violet();
	border: none;
	font-size: 1.8rem;

	i {
		color: @tc-white;
	}

	&:hover {
		cursor: pointer;
		.hover-gradient-blue-violet();
	}
}

p {
	line-height: 1.5;
	font-size: 2rem;
}

// ---------- COULEURS CLASSIQUES ---------- //
// ----------------------------------------- //

.tc-white {
	color: @tc-white;
}

.tc-purple {
	color: @tc-light-purple-connectinha;
}

.tc-blue {
	color: @tc-blue-connectinha;
}

.tc-grey {
	color: @tc-grey;
}

.bg-white {
	background-color: @bg-white;
}

.bg-blue {
	background-color: @bg-blue-connectinha;
}

.bg-grey {
	background-color: @bg-lightgrey-connectinha;
}

// ----------------- FONTS ----------------- //
// ----------------------------------------- //

.italic {
	font-family: "Montserrat", sans-serif;
	font-style: italic;
}

.semibold {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
}

.bold {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
}

.amatic {
	font-family: "Amatic SC", cursive;
}

.playfair {
	font-family: "Playfair Display", serif;
}

.rougeScript {
	font-family: "Rouge Script", cursive;
}

// -------------- PAGINATION --------------- //
// ----------------------------------------- //

#pagination {
	nav {
		ul {
			.dflex();
			justify-content: center;

			li {
				a {
					padding: 5px 8px;

					&.active {
						background-color: @bg-blue;
						color: @tc-white;

						&:hover {
							background-color: darken(@bg-blue, 10%);
							transition: 0.3s background-color;
						}
					}
				}
			}
		}
	}
}

// -------------- HEADER --------------- //
// ------------------------------------- //

header {
	padding-top: 1.3rem;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;

	&::after {
		content: "";
		width: 100%;
		height: 12rem;
		display: block;
		z-index: 0;
		position: absolute;
		top: 0; left: 0;
		background: rgb(255,255,255);
		background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 78%);
	}

	nav {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		z-index: 3;
		position: relative;
		margin: auto;

		.logo {
			width: 30rem;
			height: 11rem;

			img {
				width: 100%;
				height: 10rem;
				object-fit: contain;
			}
		}

		ul {
			display: flex;
			flex-wrap: wrap;
			margin: auto;
			align-items: center;
		}

		.menu {
			li {
				position: relative;

				a {
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					height: 7rem;
					padding: 0 2.5rem;
					color: @tc-dark-purple-connectinha;
					font-family: "Playfair Display", serif;
					text-transform: uppercase;
					font-size: 2rem;
					letter-spacing: 0.1ch;

					i {
						margin-right: 0.6rem;
					}
				}

				&::after {
					content: "\f186";
					font-weight: bold;
					font-family: "Font Awesome 5 Free";
					display: block;
					font-size: 1.2rem;
					width: 3rem;
					height: 0.2rem;
					color: transparent;
					position: absolute;
					bottom: 0;
					left: calc(50% - 1.5rem);
				}

				&:hover::after {
					color: @tc-darkblue;
				}
			}

		}
	}
}

// -------------- FOOTER --------------- //
// ------------------------------------- //


footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	background: url('../../images/fond-footer-cascade-bleu-violet.jpg') no-repeat center center;
	background-size: cover;
	color: @tc-white;

	.footer-top {
		padding: 7rem 5rem;
		font-size: 1.6rem;

		nav {
			display: flex;
			flex-wrap: wrap;

			.logo {
				width: 25rem;
				margin-right: 8rem;
				font-size: 4rem;
				text-align: center;
				line-height: 0.8;
				position: relative;

				&::after {
					content: "";
					display: block;
					width: 0.3rem;
					height: 15rem;
					background-color: @bg-white;
					right: -6rem;
					top: -2rem;
					position: absolute;
				}

				span {
					display: block;
				}

				.rougeScript {
					font-size: 6.5rem;
				}
			}

			ul {
				margin: 0 5rem;

				h3 {
					margin-bottom: 2rem;
					font-size: 2.3rem;
				}

				li {
					margin-bottom: 1.5rem;

					a {
						color: @tc-white;

						&:hover {
							color: lighten(@tc-blue-connectinha, 10%);
						}

						i {
							&:hover {
								color: @tc-white;
							}
						}
					}
				}
			}

			.menu {

				i {
					margin-right: 1.2rem;
				}

			}

			.reseaux {
				display: flex;
				flex-wrap: wrap;

				h3 {
					width: 100%;
				}

				li {

					a {
						color: #fff;
						display: flex;
						flex-wrap: wrap;
						align-items: center;
						justify-content: center;
						margin: 0 0.8rem;

						&:hover {
							transition: 0.3s background-color;
							color: @tc-blue-connectinha !important;
						}

						i {
							color: @tc-white;
							font-size: 3rem;
						}


					}
				}
			}
		}
	}

	.footer-bottom {
		.gradient-blue-violet();
		color: @tc-white;

		nav {
			width: 100%;

			ul {
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				padding: 1.2rem 0;

				li {
					span {
						margin: 0 0.8rem;
					}

					a {
						color: @tc-white;
						transition: 0.3s color;
						margin: 0 1rem;

						&:hover {
							color: @tc-blue-connectinha !important;
							transition: 0.3s color;
						}
					}
				}
			}
		}
	}
}

