{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block description %}
  Une question ? Un message ? Contactez-nous pour plus d'informations. Elodie Ortiz, Connectinha, se tient à disposition pour vous.
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/client/contact.css') }}">
{% endblock %}

{% block body %}
  <section id="banner">
    <h1>
      <span class="rougeScript tc-white">Contact</span>
      <span class="amatic tc-white uppercase">Vous avez une question ?</span>
    </h1>
  </section>

    <section id="confirmation">
        <div class="container">

            <div class="bloc-form">
                <h2 class="amatic tc-blue">Votre message a bien été envoyé</h2>

                <p>
                  Merci beaucoup et à bientôt !
                </p>

                <div class="bloc-btn">
                  <a href="{{ path('index') }}" class="btn">
                    Retour à la page d'accueil
                  </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
