{% extends 'base.html.twig' %}

{% block title %}Conditions Générales de Vente{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/client/legals.css') }}">
{% endblock %}

{% block body %}

	<section id="banner">
		<h1>
			<span class="rougeScript tc-white">CGV</span>
			<span class="amatic tc-white uppercase">Les conditions générales de vente</span>
		</h1>
	</section>

	<section id="legals">
		<p>
		Les présentes conditions s’appliquent à toutes les ventes effectuées sur le présent site internet <span>connectinha.fr</span>
		Elles s’entendent à compter du 1er Avril 2015 et s'appliquent à toutes les ventes réalisées sur le présent site internet.
		Elles prévalent dans tous les cas sur tout autre document émis qui n’ont qu’une valeur indicative (tels que renseignements fournis de façon directe ou publicitaire sur les produits, description et renseignement de nos prospectus, catalogues, tarifs, reproduction…).
		Elles sont modifiables sans préavis et seront applicables aux ventes réalisées postérieurement à la modification. Elles font partie intégrante de notre offre et sont donc systématiquement portées à la connaissance de tout client préalablement à la passation d’une commande.
		</p>
		<p>
		S’agissant d’un contrat de vente conclu par voie électronique, la société entend s’identifier auprès du client :
		Elodie Ortiz - 27 grand rue 77450 Jablines

		Le fait de passer commande implique nécessairement l’acceptation sans aucune réserve et l’adhésion pleine et entière du client aux présentes conditions. Toute condition contraire opposée par le client nous sera inopposable, à défaut d’acceptation expresse de notre part, et ce quel que soit le moment où elle aura pu être portée à notre connaissance.
		</p>

		<h3>
			PRODUITS ET DISPONIBILITE
		</h3>
		<p>
			Les produits de notre offre sont conformes à la réglementation et aux normes en vigueur en France et/ou dans l’Union Européenne à la date de leur retrait/livraison.
			Chaque produit est accompagné d'un descriptif permettant au client de connaître les caractéristiques essentielles du produit.
			En conséquence, ma responsabilité ne saurait être recherchée ni engagée en cas d’erreurs, imprécisions ou omissions relativement aux informations de mes offres mises en ligne sur ce site.
			Je me réserve le droit de modifier à tout moment et sans préavis mes offres. En conséquence, les produits de mon offre sont disponibles tant qu’ils figurent sur le site.
		</p>

		<h3>
			COMMANDES
		</h3>
		<p>
			Le client est entièrement responsable des informations saisies dans le bon de commande.
			Cette commande n’acquiert valeur contractuelle qu’après l'envoi par e-mail d’un accusé de réception de commande – confirmant en tout point les stipulations dudit bon de commande sans aucune modification.
			Je me réserve le droit de ne pas confirmer tout bon de commande d’un client avec lequel il existe ou existerait un litige.
			Les informations conservées dans notre système d’information ont force probante quant aux commandes passées. En cas de production de ces informations sur support électronique, elles auront la même valeur que si elles avaient été données et conservées par écrit.
			Les commandes passées sur le site sont destinées un usage personnel. Le client s'interdit notamment de revendre les produits à un tiers.
		</p>

		<h3>
			PRIX
		</h3>
		<p>
			Les prix des produits sont ceux en vigueur, c'est-à-dire diffusés sur notre site internet.
			Ils sont exprimés en euros, toutes taxes comprises hors participation aux frais de transports et de livraison.
		</p>

		<h3>
			PAIEMENT
		</h3>
		<p>
			Le prix est payable comptant le jour de la commande via carte bancaire pour les produits, mais aussi en espèce pour les prises de rendez-vous, qui peuvent elles être réglées sur place.
			Le paiement s’effectue par carte bancaire (Carte Bleue, Carte Visa ou Carte Mastercard) via la plateforme Stripe dans un environnement sécurisé c'est-à-dire par un procédé de cryptage des données qui en assure la confidentialité.
			Le paiement se déroule donc directement entre le client et la plateforme, les informations transmises par le client à partir de son ordinateur ne circulent pas en clair sur le net, ne transitent pas par ce site et ne sont pas enregistrées sur nos serveurs ; le client devra donc communiquer ces informations lors de chaque nouvelle commande.
			En cas de refus du centre du paiement bancaire concerné, la commande sera automatiquement annulée et le client sera informé par annulation du règlement.
		</p>

		<h3>
			DROITS DE RETRACTATION
		</h3>
		<p>
			En application de l'article L 121-20-2 du Code de la Consommation, le droit de rétractation visé par l'article L 121-20 du Code de la Consommation ne pourra être exercé en raison de la nature des produits vendus ; ceux–ci étant susceptibles de se détériorer ou de se périmer rapidement.
		</p>

		<h3>
			CLAUSE DE RESERVE DE PROPRIETE
		</h3>
		<p>
			Nous nous réservons la propriété des produits jusqu’au complet paiement du prix facturé. Cette disposition ne fait pas obstacle au transfert des risques qui s’opère dès la remise du produit au transporteur.
		</p>

		<h3>
			FORCE MAJEURE
		</h3>
		<p>
			La force majeure et le cas fortuit nous exonèrent de toute obligation de livrer. Toute inexécution due à la force majeure ou cas fortuit, donnera lieu à remboursement, s’il y a lieu, des sommes réglées mais en aucun cas à des dommages et intérêts.
		</p>

		<h3>
			GARANTIE
		</h3>
		<p>
			Nous garantissons les produits conformément aux dispositions légales tant du code civil que du code de la consommation.
			Toute réclamation devra nous être adressée par le client par lettre RAR à l’adresse du siège social figurant en tête des présentes Conditions Générales de Vente.
		</p>

		<h3>
			PROPRIETE INTELLECTUELLE ET INDUSTRIELLE
		</h3>
		<p>
			Le client s’engage à respecter les droits de propriété intellectuelle et industrielle attachés au site.
		</p>

		<h3>
			COMPETENCES - CONTESTATION
		</h3>
		<p>
			Les présentes Conditions Générales de Vente et plus généralement les contrats conclus via notre site web sont soumis au droit français.
			En cas de contestation relative aux présentes conditions et plus généralement aux contrats conclus via notre site web, nous nous efforcerons de résoudre avec le client, dans un délai d’un mois, le différend à l’amiable. A défaut de solution amiable trouvée dans ce délai, les tribunaux de Paris seront seuls compétents, quels qu’en soient le lieu de livraison, le mode de règlement et même en cas d’appel en garantie ou de pluralité de défendeurs.
		</p>

		<h3>
			GARANTIE
		</h3>
		<p>
			Les informations nominatives collectées ont pour objet d’assurer la bonne fin des commandes passées sur le site. Elles sont indispensables au traitement des commandes, à l’acheminement des produits et à l’établissement des factures. Elles sont destinées à mon usage et sont susceptibles d’être traitées par des prestataires de services agissant pour mon compte. Le client consent également à l'utilisation de ces données par ma société et/ou par des tiers. Conformément à la loi « Informatique et Liberté », le traitement des informations nominatives relatives aux acheteurs, a fait l’objet d’une déclaration auprès de la CNIL.
			Conformément à l’article de ladite loi du 6 janvier 1978 l’acheteur dispose d’un droit d’accès, de modification, de rectification et de suppression des données qui le concernent, qu’il peut exercer auprès de nous à l’adresse du siège social figurant en tête de ces conditions ou par courriel à l’adresse : <a href="mailto:contact@connectinha.fr">contact@connectinha.fr</a>
		</p>
	</section>
{% endblock %}