/* -------- TEXT COLORS ------- */
/* -------- ALERT COLORS ------- */
/* -------- BACKGROUND COLORS ------- */
/* ----------- BACKGROUND COLORS MAQUETTE ----------- */
/* ----------- TEXT COLORS MAQUETTE ----------- */
.success-gradient {
  background: #d4e9d5;
  background: linear-gradient(90deg, #d4e9d5 0%, #eefbf1 100%);
}
.gradient-blue-violet {
  background: #042b40;
  background: linear-gradient(90deg, #52235b 0%, #042b40 100%);
}
.hover-gradient-blue-violet {
  background: ligthen(#042b40, 10%);
  background: linear-gradient(90deg, #733180 0%, #074b70 100%);
}
.dflex {
  display: flex;
  flex-wrap: wrap;
}
.full-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.delete-overlay {
  background-color: rgba(180, 60, 60, 0.74);
}
.delete-overlay i {
  color: #fff;
  font-size: 3rem;
}
/* ------------------- PRODUITS ADMIN ---------------- */
/* --------------------------------------------------- */
.mixin-categorie {
  margin-right: 2.2rem;
  color: #042b40;
  font-weight: bold;
  font-size: 1.4rem;
  width: 15%;
  display: block;
}
.mixin-titre {
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1ch;
  margin-right: 2rem;
  width: 50%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.mixin-prix {
  display: block;
  font-size: 2.2rem;
  width: 20%;
}
#banner {
  height: 55rem;
  width: 100%;
  background: url('../../images/produits/bandeau-page-ville-nuit-etoilee-bleu-violet-elodie-ortiz-connectinha.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#banner h1 {
  font-size: 6rem;
  margin-top: -5rem;
}
#banner h1 span {
  display: block;
}
#banner h1 .rougeScript {
  font-size: 8rem;
}
#banner h1 .amatic {
  margin-top: -1rem;
}
@media screen and (max-width: 1200px) {
  #banner h1 {
    padding: 0 2rem;
  }
}
@media screen and (max-width: 580px) {
  #banner h1 {
    margin-top: -15rem;
  }
  #banner h1 .rougeScript {
    font-size: 6rem;
  }
  #banner h1 .amatic {
    font-size: 5rem;
  }
}
/* ---------------- INDICATION UX ---------------- */
/* ----------------------------------------------- */
.menu .rdv::after {
  content: "";
  display: block;
  width: 3rem;
  height: 0.2rem;
  background-color: #042b40;
  position: absolute;
  bottom: 0;
  left: calc(50% - 1.5rem);
}
/* ----------------- RENDEZ-VOUS ----------------- */
/* ----------------------------------------------- */
#rdv {
  position: relative;
  margin-top: -10rem;
  margin-bottom: 3rem;
  z-index: 3;
}
#rdv::after,
#rdv::before {
  content: "";
  display: inline-block;
  height: 50rem;
  position: absolute;
  z-index: -1;
  top: 0rem;
}
#rdv::after {
  content: "";
  display: block;
  width: 30rem;
  height: 50rem;
  background: url('../../images/illustrations/une-question-illustration-herbe-gauche.png') no-repeat;
  background-size: contain;
  position: absolute;
}
#rdv::before {
  content: "";
  display: inline-block;
  width: 30rem;
  height: 50rem;
  background: url('../../images/illustrations/une-question-illustration-herbe-droite.png') no-repeat;
  background-size: contain;
  position: absolute;
  right: 0;
}
#rdv h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 3rem;
}
#rdv h1 span {
  color: #068639;
}
#rdv h2 {
  font-size: 8rem;
  position: relative;
  margin-bottom: 1rem;
  text-align: center;
}
#rdv h3 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 3rem;
}
#rdv .bloc-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#rdv .service {
  margin: 15px;
  padding: 2rem 3rem;
  transition: 0.3s background-color;
  display: block;
  width: 45%;
  color: #333;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#rdv .service span {
  display: block;
}
#rdv .service .bloc-img {
  width: 45%;
  height: 220px;
  display: block;
  margin-bottom: 2rem;
}
#rdv .service .bloc-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#rdv .service .bloc-text {
  width: 52%;
}
#rdv .service .title {
  font-size: 2.8rem;
  color: #41687f;
  margin-bottom: 1.5rem;
  text-align: center;
}
#rdv .service .duration {
  color: #af5ce2;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: bold;
}
#rdv .service .price {
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}
#rdv .service .text {
  line-height: 1.5;
  text-align: center;
}
#rdv .service:hover {
  background-color: #e7e9eb;
  transition: 0.3s background-color;
}
#rdv .bloc-choix {
  background-color: #fff;
  width: 40%;
  margin: auto;
  box-shadow: 0 5px 8px rgba(23, 23, 23, 0.2);
  padding: 35px 50px;
}
#rdv .bloc-choix h2 {
  text-align: center;
}
#rdv .bloc-choix label {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  text-align: left;
}
#rdv .bloc-choix .btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#rdv .bloc-choix .bloc-btn.rdv {
  margin-top: 30px;
}
#rdv .bloc-choix .bloc-btn.rdv .btn {
  margin: auto;
}
#rdv .bloc-choix #hour {
  margin-bottom: 30px;
}
#rdv .bloc-choix .line {
  margin-bottom: 18px;
  width: 100%;
}
#rdv .bloc-choix .line label {
  font-size: 1.5rem;
}
#rdv .bloc-choix .line p {
  font-size: 1.3rem;
}
#rdv .confirmation p {
  margin-bottom: 12px;
}
#rdv .confirmation .merci {
  font-size: 5rem;
  color: #af5ce2;
}
/* -------------------------------------------------------- */
/*                        RESPONSIVE                        */
/* -------------------------------------------------------- */
@media screen and (max-width: 1200px) {
  #rdv .bloc-services {
    padding: 2rem 3rem;
  }
  #rdv .bloc-choix {
    width: 70%;
  }
  #rdv .confirmation .merci {
    font-size: 4rem;
  }
  #rdv .service .bloc-img {
    width: 80%;
    margin: auto;
  }
  #rdv .service .bloc-text {
    width: 100%;
  }
}
@media screen and (max-width: 990px) {
  #rdv .bloc-choix {
    width: 90%;
  }
}
@media screen and (max-width: 800px) {
  #rdv .service {
    width: 80%;
    margin: 2rem auto;
  }
  #rdv .bloc-choix {
    padding: 20px 15px;
  }
}
@media screen and (max-width: 550px) {
  #rdv {
    margin-top: -16rem;
    padding-bottom: 10rem;
  }
  #rdv h2 {
    font-size: 4.5rem;
    line-height: 1;
  }
  #rdv .confirmation .merci {
    line-height: 1.1;
  }
  #rdv .service {
    width: 100%;
    padding: 0;
  }
}
