/* -------- TEXT COLORS ------- */
/* -------- ALERT COLORS ------- */
/* -------- BACKGROUND COLORS ------- */
/* ----------- BACKGROUND COLORS MAQUETTE ----------- */
/* ----------- TEXT COLORS MAQUETTE ----------- */
.success-gradient {
  background: #d4e9d5;
  background: linear-gradient(90deg, #d4e9d5 0%, #eefbf1 100%);
}
.gradient-blue-violet {
  background: #042b40;
  background: linear-gradient(90deg, #52235b 0%, #042b40 100%);
}
.hover-gradient-blue-violet {
  background: ligthen(#042b40, 10%);
  background: linear-gradient(90deg, #733180 0%, #074b70 100%);
}
.dflex {
  display: flex;
  flex-wrap: wrap;
}
.full-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.delete-overlay {
  background-color: rgba(180, 60, 60, 0.74);
}
.delete-overlay i {
  color: #fff;
  font-size: 3rem;
}
/* ------------------- PRODUITS ADMIN ---------------- */
/* --------------------------------------------------- */
.mixin-categorie {
  margin-right: 2.2rem;
  color: #042b40;
  font-weight: bold;
  font-size: 1.4rem;
  width: 15%;
  display: block;
}
.mixin-titre {
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1ch;
  margin-right: 2rem;
  width: 50%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.mixin-prix {
  display: block;
  font-size: 2.2rem;
  width: 20%;
}
#banner {
  height: 55rem;
  width: 100%;
  background: url('../../images/produits/bandeau-page-ville-nuit-etoilee-bleu-violet-elodie-ortiz-connectinha.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#banner h1 {
  font-size: 6rem;
  margin-top: -5rem;
}
#banner h1 span {
  display: block;
}
#banner h1 .rougeScript {
  font-size: 8rem;
}
#banner h1 .amatic {
  margin-top: -1rem;
}
#cart {
  width: 80%;
  margin: -10rem auto 3rem auto;
  /* ----------------- CONFIRM ------------------- */
}
#cart h2 {
  font-size: 5rem;
  text-align: center;
}
#cart .bloc-cart {
  margin-top: 3rem;
}
#cart .cart {
  width: 70%;
  padding: 0 2rem;
  /* --------------- CART ROW ----------------- */
  /* ------------------------------------------ */
}
#cart .cart .cart-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  margin: 1rem 0;
  padding: 0.8rem 1rem;
}
#cart .cart .cart-row .discount {
  color: #af5ce2;
  font-size: 1.6rem;
  margin-left: 1rem;
  font-weight: bold;
}
#cart .cart .cart-row .item-name {
  line-height: 1;
}
#cart .cart .cart-row .item-unit-price span {
  font-size: 1.3rem;
  text-decoration: line-through;
}
#cart .cart .cart-row .mantra {
  font-size: 1.4rem;
}
#cart .cart .cart-row .item-delete {
  position: absolute;
  right: 0;
  top: 1.2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 3.2rem;
  height: 3.2rem;
  background: transparent;
  background-color: #bcc0c4;
  box-shadow: 0px 2px 2px rgba(23, 23, 23, 0.2);
  border-radius: 3.2rem;
  transition: 0.3s background-color;
}
#cart .cart .cart-row .item-delete:hover {
  background-color: #939aa0;
  transition: 0.3s background-color;
}
#cart .cart .cart-row .item-delete i {
  color: #7a0a24;
  font-size: 1.1rem;
  margin: 0;
}
#cart .cart .cart-row input {
  width: 90%;
  border: 1px solid #b0b0b0;
}
#cart .cart .cart-row .totalPrice {
  width: 16%;
}
#cart .titles {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  border-bottom: 2px solid #cecece;
}
#cart .titles h3 {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1ch;
}
#cart .tables .line {
  border-bottom: 1px solid #cecece;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2rem 0;
}
#cart .element {
  padding: 1rem 0rem;
}
#cart .name {
  width: 40%;
}
#cart .quantity {
  width: 18%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#cart .quantity button {
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: transparent;
  background-color: #6ba7bb;
  color: #042b40;
  font-size: 2rem;
}
#cart .quantity input {
  width: calc(100% - 8rem) !important;
  border: none;
  background-color: #f7f7f7;
  height: 3rem;
}
#cart .quantity input[type=number]::-webkit-inner-spin-button,
#cart .quantity input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#cart .item-unit-price,
#cart .unitPrice,
#cart .totalPrice {
  width: 20%;
}
#cart .confirm {
  width: 30%;
  background-color: #042b40;
  padding: 3rem 4rem;
  color: #fff;
}
#cart .confirm h3,
#cart .confirm label {
  font-size: 1.6rem;
  text-transform: uppercase;
  display: block;
}
#cart .confirm p {
  font-size: 1.4rem;
}
#cart .confirm .line {
  margin-bottom: 2rem;
}
#cart .confirm .line h3,
#cart .confirm .line label {
  margin-bottom: 0.8rem;
}
#cart .confirm .line h3 i,
#cart .confirm .line label i {
  margin-right: 1rem;
}
#cart .confirm #addTicket {
  background: transparent;
  background-color: #0a6ba0;
}
#cart .confirm #addTicket:hover {
  background-color: #0d8cd0;
  transition: 0.3s background-color;
}
#cart .confirm #domDiscountTicket {
  display: none;
}
#cart .confirm #domDiscountTicket.active {
  display: block;
}
#cart .confirm #discountForm.inactive {
  display: none;
}
#cart .confirm .total {
  border-top: 1px solid #fff;
  padding: 3rem 0 1rem 0;
  margin-top: 3rem;
}
#cart .confirm .total h3 {
  margin-bottom: 0.5rem;
}
#cart .confirm .total h3 i {
  margin-right: 1rem;
}
#cart .confirm .total .ttc {
  font-size: 3rem;
}
#cart .confirm .total .ht {
  font-size: 1.8rem;
}
#cart .confirm .btn {
  background-color: #0a6ba0;
  transition: 0.3s background-color;
  display: inline-block;
  padding: 1rem 2rem;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 1.7rem;
  margin-top: 1rem;
}
#cart .confirm .btn:hover {
  background-color: #0d8cd0;
  transition: 0.3s background-color;
}
#cart .confirm .btn.save {
  background: transparent;
  background-color: #0b795c;
}
#cart .confirm .btn.save:hover {
  background-color: #11a17a;
  transition: 0.3s background-color;
}
