/* -------- TEXT COLORS ------- */
/* -------- ALERT COLORS ------- */
/* -------- BACKGROUND COLORS ------- */
/* ----------- BACKGROUND COLORS MAQUETTE ----------- */
/* ----------- TEXT COLORS MAQUETTE ----------- */
.success-gradient {
  background: #d4e9d5;
  background: linear-gradient(90deg, #d4e9d5 0%, #eefbf1 100%);
}
.gradient-blue-violet {
  background: #042b40;
  background: linear-gradient(90deg, #52235b 0%, #042b40 100%);
}
.hover-gradient-blue-violet {
  background: ligthen(#042b40, 10%);
  background: linear-gradient(90deg, #733180 0%, #074b70 100%);
}
.dflex {
  display: flex;
  flex-wrap: wrap;
}
.full-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.delete-overlay {
  background-color: rgba(180, 60, 60, 0.74);
}
.delete-overlay i {
  color: #fff;
  font-size: 3rem;
}
/* ------------------- PRODUITS ADMIN ---------------- */
/* --------------------------------------------------- */
.mixin-categorie {
  margin-right: 2.2rem;
  color: #042b40;
  font-weight: bold;
  font-size: 1.4rem;
  width: 15%;
  display: block;
}
.mixin-titre {
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1ch;
  margin-right: 2rem;
  width: 50%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.mixin-prix {
  display: block;
  font-size: 2.2rem;
  width: 20%;
}
#favourite {
  position: relative;
}
#favourite::after,
#favourite::before {
  content: "";
  display: inline-block;
  height: 50rem;
  position: absolute;
  z-index: -1;
  top: 5rem;
}
#favourite::after {
  content: "";
  display: block;
  width: 20rem;
  height: 50rem;
  background: url('../../images/illustrations/les-coups-de-coeur-illustration-herbe-gauche.png') no-repeat;
  background-size: contain;
  position: absolute;
}
#favourite::before {
  content: "";
  display: inline-block;
  width: 40rem;
  height: 50rem;
  background: url('../../images/illustrations/les-coups-de-coeur-illustration-herbe-droite.png') no-repeat;
  background-size: contain;
  position: absolute;
  right: 0;
}
#favourite h2 {
  font-size: 8rem;
  text-align: center;
  margin-bottom: 5rem;
}
#favourite .bloc-favourites {
  width: 70%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#favourite .bloc-favourites .favourite {
  width: 28%;
  margin: 1rem 2.2rem;
  box-shadow: 0px 5px 5px rgba(23, 23, 23, 0.3);
  color: #333;
}
#favourite .bloc-favourites .favourite span {
  display: block;
}
#favourite .bloc-favourites .favourite .bloc-img {
  height: 30rem;
  background-color: orange;
  margin-bottom: 0.8rem;
}
#favourite .bloc-favourites .favourite .bloc-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#favourite .bloc-favourites .favourite .title-h3 {
  font-size: 3.5rem;
  padding-left: 1rem;
}
#favourite .bloc-favourites .favourite .title-h4 {
  font-size: 2rem;
  padding-left: 1rem;
}
#favourite .bloc-favourites .favourite button {
  color: #fff;
  margin-top: 1.5rem;
  width: 100%;
  padding: 1rem 2rem;
}
#favourite .btns {
  justify-content: center;
  margin-top: 6rem;
}
/* ---------------- INDICATION UX ---------------- */
/* ----------------------------------------------- */
.menu .accueil::after {
  content: "";
  display: block;
  width: 3rem;
  height: 0.2rem;
  background-color: #042b40;
  position: absolute;
  bottom: 0;
  left: calc(50% - 1.5rem);
}
#home {
  height: 110vh;
  background: url('../../images/index/bandeau-accueil-elodie-ortiz-montagnes-forets-bleu-violet.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #fff;
}
#home span {
  display: block;
}
#home .rougeScript {
  font-size: 15rem;
}
#home .amatic {
  font-size: 10rem;
  margin-top: -3rem;
  margin-bottom: 2rem;
}
#home .content {
  margin-top: -18rem;
}
#home .btns {
  justify-content: center;
}
#presentation {
  position: relative;
  margin-top: 8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
#presentation .bloc-background {
  height: 80rem;
  background-color: orange;
  width: 25%;
  position: relative;
  background: url('../../images/index/presentation-fond-nature-nuit-etoilee-elodie-ortiz-connectinha.jpg');
  background-size: cover;
}
#presentation .bloc-background .picture {
  width: 50rem;
  height: 50rem;
  border: 1.5rem solid #fff;
  position: absolute;
  top: 15rem;
  right: -20rem;
  background-color: orange;
}
#presentation .bloc-text {
  width: 65%;
  padding: 0 18rem;
  text-align: center;
}
#presentation .bloc-text h2 {
  font-size: 8rem;
  margin-bottom: 5rem;
}
#presentation .bloc-text h3 {
  font-size: 4rem;
  margin: 6rem 0 4rem 0;
}
#presentation .bloc-text .btn {
  margin: 4rem auto;
}
#services {
  margin: 8rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#services .bloc {
  width: 33.3333%;
  height: 35rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#services .bloc img {
  width: 100%;
  height: 80%;
  object-fit: contain;
}
#services .bloc h2 {
  font-size: 6rem;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: #41687f;
  text-transform: capitalize;
  text-align: center;
  line-height: 1;
}
#services .bloc.magnetisme {
  background: url('../../images/index/le-magnetisme-elodie-ortiz.jpg') no-repeat center center;
  background-size: cover;
}
#services .bloc.cartomancie {
  background: url('../../images/index/la-cartomancie-elodie-ortiz.jpg') no-repeat center center;
  background-size: cover;
}
#services .bloc.mediumnite {
  background: url('../../images/index/la-mediumnite-elodie-ortiz.jpg') no-repeat center center;
  background-size: cover;
}
#question {
  padding: 5rem 0;
  position: relative;
  margin-bottom: 10rem;
}
#question::after,
#question::before {
  content: "";
  display: inline-block;
  height: 50rem;
  position: absolute;
  z-index: -1;
  top: 0rem;
}
#question::after {
  content: "";
  display: block;
  width: 30rem;
  height: 50rem;
  background: url('../../images/illustrations/une-question-illustration-herbe-gauche.png') no-repeat;
  background-size: contain;
  position: absolute;
}
#question::before {
  content: "";
  display: inline-block;
  width: 30rem;
  height: 50rem;
  background: url('../../images/illustrations/une-question-illustration-herbe-droite.png') no-repeat;
  background-size: contain;
  position: absolute;
  right: 0;
}
#question h2 {
  font-size: 6rem;
  margin-bottom: 5rem;
}
#question .content {
  width: 60%;
  margin: auto;
  text-align: center;
}
#question .content .btns {
  justify-content: center;
  margin-top: 5rem;
}
