{% extends 'base.html.twig' %}

{% block title %}Erreur de commande - Passez votre commande{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/client/order.css') }}">
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/order/ajax-get-order.js') }}" type="module"></script>
	<script src="{{ asset('js/order/ajax-update-order.js') }}" type="module"></script>
{% endblock %}

{% block body %}
	<section id="banner">
		<h1>
			<span class="rougeScript tc-white">Oups</span>
			<span class="amatic tc-white uppercase">Votre commande n'a malheureusement pas été enregistrée !</span>
		</h1>
	</section>

	<section id="payment">
		<div class="container">
			<h2 class="amatic tc-blue">Une erreur est survenue !</h2>
			<p>
				Votre commande n'a malheureusement pas été enregistrée, comment pouvons-nous vous aider ?
			</p>
			<div class="btns">
				<a href="{{ path('contact') }}" class="btn round bg-blue tc-white">
					<i class="fas fa-paper-plane"></i>
					Contactez-nous si vous rencontrer des difficultés à passer commande
				</a>
			</div>
		</div>
	</section>
{% endblock %}
